%h4 Load Sample Message

#sample-messages
    %select.custom-select(id="message-select")
        %option(selected disabled) Sample Messages...
        %option(value="#{sample_adt_a01}") ADT
        %option(value="#{sample_discrete_lab}") Lab
        %option(value="#{sample_pharmacy}") Pharmacy
        %option(value="#{sample_errors}") Message with Errors

=form_tag("/parse_hl7", method: 'post', remote: true) do
    = text_area_tag 'message', '', class: "form-control auto-expand" , rows: 1, autocomplete: "off", placeholder: "Input an HL7 message!"
    = submit_tag 'Parse!', class: "btn btn-primary w-100"