- if segment.errors.size > 0
    .row.seg-error
        .col
            - segment.errors.each do |e|
                %span.bg-danger.text-light.rounded.seg-error #{e}

.row.interactive-seg.mt-2{id: "seg-#{index}"}
    .col
        - segment.fields.each_with_index do |f|
            %span{ class: ("empty-field" if f.value.empty?) }(class="interactive-field" data-toggle="tooltip" data-placement="top" title="#{field_tooltip(f)}")><=f.value
            |
    .col-lg-2.col-md-auto
        %button{class: "crosswalk-toggle btn btn-primary btn-sm float-right"} Toggle Table
.row.seg-crosswalk.mt-2{id: "crosswalk-#{index}", style: "display:none"}
    .col
        %table{class: "seg-table table table-striped table-sm"}
            %tr
                %th Segment-Field
                %th Field Description
                %th Value
            - segment.fields.each do |f|
                -if f.index != 0
                    %tr
                        %td #{f.seg_type}-#{f.index}
                        %td #{f.description}
                        %td #{f.value}
%hr.seg-hr