- title "HL7 ADT Event Codes"

%h1.mt-3 HL7 ADT Event Codes
.open-sans.pt-2.pb-2
    These ADT event codes are up to date with HL7 2.8.2 standards. The event code should be sent in MSH-9.2 and EVN-1 (if EVN segment is sent).
.row
    .col
        %table{class: "seg-table table table-striped table-sm"}
            %tr
                %th Event Code
                %th Event Description
            - @events.each do |event, desc|
                %tr
                    %td #{event.to_s}
                    %td.open-sans #{desc}