- title "Free Interactive HL7 Parser"

.row
    .col
        %h1.mt-3 Free Interactive HL7 Parser

        #hl7-parser-info.open-sans
            %p
                This HL7 parser utilizes HL7 2.8.1 definitions which are backwards compatible with all HL7 2.X versions.
                After parsing a message you can easily navigate the message by hovering over a field or expanding the definition table.
            %p
                No parsed data is saved/mined/etc. Intended for use with test data only while running externally.
            %p
                Paste in a message below or choose from a sample message to parse.

.row
    .col
        #parser-input.mt-3
            = render 'hl7_parser'

.row
    .col
        #parser-errors.bg-warning.rounded.d-none
        #parser-interactive.mt-3