- title "HL7 Lookup/Crosswalk Table"

.sticky-top#lookup-nav.bg-white
    %select.custom-select
        %option(selected disabled) Jump to...
        - @dict.each do |seg|
            %option(value="#{seg[0]}") #{seg[0]}

.row
    .col
        %h1.mt-3 HL7 Lookup/Crosswalk Table
        .open-sans.pt-2.pb-2
            Looking to search by description? Use Ctrl+F to search with your browser.
        - @dict.each do |seg|
            .row
                .col
                    %h3{id: seg[0]} #{seg[0]}
                    %table{class: "seg-table table table-striped table-sm"}
                        %tr
                            %th Field
                            %th Field Description
                        - seg[1].each do |f|
                            %tr
                                %td #{f[0].to_s.insert(3, "-")}
                                %td.open-sans #{f[1]}