- title "Data Tools for Healthcare Professionals"

#home-cover.row.justify-content-center.align-items-center.text-center
    .col-12
        %h1#cover-heading.mt-5 Data Tools for Healthcare Professionals

        %p.lead.mt-3.text-muted
            Making life easier, one tool at a time.

    .col-12.pt-3
        = link_to "HL7 Parser", hl7_parser_path, :class => "btn btn-lg btn-outline-info"
    .col-12.pt-3
        = link_to "HL7 Lookup", hl7_lookup_path, :class => "btn btn-lg btn-outline-info"
    .col-12.pt-3
        = link_to "ADT Event Codes", adt_events_path, :class => "btn btn-lg btn-outline-info"