
$('#parser-errors').html("")
- if @hl7.errors.size > 0
    $('#parser-errors').removeClass("d-none")
    $('#parser-errors').append("<strong>We found the following potential errors in this HL7 message:</strong>")
    - @hl7.errors.each_with_index do |e, i|
        $('#parser-errors').append("#{j render(partial: 'parser_error', locals: {error: e, index: i})}")
- else
    $('#parser-errors').addClass("d-none")

$('#parser-interactive').html("")
- @hl7.segments.each_with_index do |seg, i|
    $('#parser-interactive').append("#{j render(partial: 'interactive_seg', locals: {segment: seg, index: i})}")