/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $theme-colors: (
    "primary": #648161,
    "danger": #CA3D37,
    "warning": #efc058,
    "success": #53a155,
    "info": #19181f
  );
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');
 $font-family-base: 'Space Mono', monospace;
 @import "bootstrap";

 .header-logo{
     height: 30px;
     width: 57.734px;
 }

 .open-sans{
  font-family: 'Open Sans', sans-serif;
 }

 @include media-breakpoint-down(md) {
    #cover-heading{
        font-size: 10vw;
    }

    .crosswalk-toggle{
      width: 100%;
    }
  }

 @include media-breakpoint-up(lg) {
    #cover-heading {
      font-size: 4vw;
    }
 }