
 #sample-messages{
    margin-bottom: 10px;
}

#parser-errors{
   padding-left: 5px;
   margin-top: 5px;
}

.seg-hr{
    margin-top: 3px;
    margin-bottom: 3px;
}

.interactive-field{
    word-break: break-word;
}

.empty-field::before {
    content: " ";
    visibility: hidden;
    width: 1em;
  }

.seg-error{
    padding: 3px;
    word-break: break-word;
}

.breakable{
    word-break: break-word;
}