!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'ParseHog'
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png'
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      %a.navbar-brand(href="/") 
        =image_tag "parsehog.png", class: "d-inline-block align-top header-logo"
        ParseHog
      %button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        %span.navbar-toggler-icon

      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          -# comment out home until we have a use for it
            %li.nav-item{ class: ('active' if current_page? root_path)}
              = link_to "Home", root_path, :class => "nav-link"
          %li.nav-item{ class: ('active' if current_page? hl7_parser_path)}
            = link_to "HL7 Parser", hl7_parser_path, :class => "nav-link"
          %li.nav-item{ class: ('active' if current_page? hl7_lookup_path)}
            = link_to "HL7 Lookup", hl7_lookup_path, :class => "nav-link"
          %li.nav-item
            %a(href="#contact" class="nav-link" data-toggle="modal") About/Contact

    .container
      = yield

    .modal.fade(id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            %h5.modal-title(id="exampleModalLabel") About
            %button.close(type="button" data-dismiss="modal" aria-label="Close")
              %span(aria-hidden="true")x
          .modal-body.mx-auto.text-center
            Questions, comments, requests? Contact me at -
            %br
            kyle.holgate (at) gmail.com
            %br
            %a(href="https://www.linkedin.com/in/kyleholgate/" target="_blank") LinkedIn
          .modal-footer
            %button.btn.btn-outline-info(type="button" data-dismiss="modal")Close